.cart-container{
    width:100vw;
    height: 100vh;
    background: url("https://wallpaperaccess.com/full/2338264.jpg") no-repeat;
    background-size: cover;
    color:white;
}
#cartTable{
    width:75%;
    height: auto;
    transform:translateY(9rem);
}
.counter-span{
    width:2rem;
}

.updateunits-section >button{
    height: 2rem;
}
.updateunits-section button svg{
    position: relative;
    bottom: 0.3rem;
}

.item-image{
    width:2rem;
    height: 2rem;;
}

.header-row{
    background-color: #8097fc;
    height: 2.5rem;
    color:black;
}
.header-row div:nth-child(1){
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
.header-row div:nth-child(2){
    border-right:1px solid grey;
}
.header-row div:nth-child(3){
    border-right:1px solid grey;
}
.header-row div:nth-child(4){
    border-right:1px solid grey;
}
.header-row div:nth-child(5){
    border-right:1px solid grey;
}
.result-row{
    border:1px solid black;
    height: 3rem;
    
}

.item-text{
    max-width: 200px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    
}
.result-row .col:nth-child(1){
    
    border-right: 1px solid black;
}
.result-row .col:nth-child(2){
    border-right:1px solid black;
}
.result-row .col-3{
    border-right:1px solid black;
}
.result-row .col:nth-child(3){
    border-right:1px solid black;
}

#total-price{
    margin-left: 80%;
}

.big-text{
    font-size: 1.3rem;
}

/* Responsiveness */
@media(max-width:1162px){
    #header{
        transform: translateY(2rem);
        color:black;
    }
    #cartTable{
        background-color:rgba(230, 227, 227, 0.247);
        color:black;
    }
    #total-price{
        margin-left: 65%;
    }
}

@media(max-width:678px){
    .updateunits-section >button{
        width:1.5rem;
        height:1rem;
    }
    .updateunits-section > button >svg{
        right:0.4rem;
        bottom:0.8rem;
        height:12px;
    }
    .counter-span{
        position:relative;
        top:0.05rem;
        bottom:0.3rem;
        right:0.2rem;
    }
    #total-price{
        margin-left: 50%;
    }
}
@media(max-width:483px){
    #total-price{
        margin-left: 30%;
    }  

    .header-row div{
        font-size: 0.8rem;
    }

    .result-row{
        font-size: 0.8rem;
        height:5rem;
    }
    .result-row .item-image{
        display: none;
    }
    .updateunits-section{
        flex-direction: column;
    }
}