#store-navbar{
    padding:0;
    width:100%;
    height: 3rem;
    background-color: #f1f0f0;
}
#store-navbar > div{
    width:100%;
    padding:0;
    height: inherit;
}
#shopping-cart-button{
    width:8rem;
    height: 3rem;
    text-align: center;
    color:aliceblue;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #528cd6;
}

.navbar-brand{
    padding:0;
}
#brand-area{
    color:aliceblue;
    font-size: 0.88rem;
    background-color: #528cd6;
    height:3rem;
    border:none;
}

#login-btn{
    width:8rem;
}
#action-dropdown{
    display: none;
}
#dropdown-button{
    background-color:#528cd6 ;
    color:white;
}
.header-item:nth-child(1){
    margin-right:6rem;
}

#search-bar{
    width:20rem;
}
#counter{
    position:relative;
    right:-1rem;
}

#linkToOrderList > button{
    transform:translateX(2rem);
    background-color: #528cd6;
    color:white;
}

/* Responsiveness */
@media(max-width:1080px){
    .header-item:nth-child(1){
        margin-right: 1rem;
    }
}
@media(max-width:1010px){
    #search-bar{
        width:15rem;
    } 
}
@media(max-width:996px){
    #search-bar{
        width:10rem;
    } 
}

@media(max-width:898px) {
    #login-btn{
        width:5rem;
    }
    #shopping-cart-button{
        width:6.5rem;
    }
}

@media(max-width:762px){
    #search-bar{
        width:10rem;
    }
    #linkToOrderList > button{
        transform: translateX(1rem);
        font-size:0.8rem;
        width:6.2rem;
    }
    #login-btn{
        font-size: 0.8rem;
        width:4rem;
    }
}

@media(max-width:674px){
    .header-item:nth-child(1){
        display: none;
    }
    #login-btn{
        transform: translateX(-3rem);
    }
}
@media(max-width:520px){
    #brand-area{
        font-size: 0.75rem;
    }
    #shopping-cart-button{
        font-size: 1rem;
    }
}

@media(max-width:490px){
    #login-btn{
        transform:translateX(-1rem);
    } 
    .navbar-brand{
        margin:0;
    }
}

@media(max-width:438px){
    #linkToOrderList > button{
        display: none;
    }
    #login-btn{
        display: none;
    }
    #action-dropdown{
        display:block;
    }
}

@media(max-width:370px){
    #login-btn{
        width:3.5rem;
        font-size: 0.75rem;
    } 
    #shopping-cart-button{
        width:5.5rem;
    }
}